SECTION.swap-holder {
	border: 10px solid #188a18;
    padding: 5px;
    margin: 5px;
    background: #d1e6ec;
	position: fixed;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 30px;
	z-index: 50;
}
SECTION.swap-holder>HEADER {
	background: #CCCCCC;
	padding: 10px;
}
SECTION.swap-holder>ARTICLE {
	display: none;
}
SECTION.swap-holder>ARTICLE.active-step {
	display: block;
}
SECTION.swap-holder A.button {
	display: inline-block;
	padding: 5px;
	background: #EFEFEF;
	border: 2px solid #CCCCCC;
	margin: 5px;
}