.w3-dropdown-mlist.w3-dropdown-mlist-opened .w3-dropdown-content {
	display: block;
}
.w3-dropdown-mlist {
	position: relative;
}
.w3-dropdown-mlist>B {
	display: none;
}
.w3-dropdown-mlist>.w3-mlist:hover {
	cursor: pointer;
}
.w3-dropdown-mlist.w3-dropdown-mlist-opened>B {
	display: block;
	position: fixed;
	z-index: 2;
	background: #FFFFFF;
	opacity: 0;
	left: 0px;
	top: 0px;
	bottom: 0px;
	right: 0px;
}
.w3-dropdown-mlist>.w3-input {
	z-index: 3;
	padding-top: 4px;
	padding-bottom: 4px;
}
.w3-dropdown-mlist>.w3-input>B {
	display: block;
	position: absolute;
	top: 1px;
	bottom: 1px;
	left: 1px;
	right: 1px;
	opacity: 0;
	background: #FFFFFF;
}
.w3-dropdown-mlist>.w3-input>DIV {
	display: inline-block;
	padding-right: 16px;
	z-index: 4;
	position: relative;
	padding: 4px;
	box-sizing: border-box;
}
.w3-dropdown-mlist>.w3-input>DIV:hover {
	background: #a6a6be;
}
.w3-dropdown-mlist.w3-dropdown-mlist-opened>.w3-dropdown-content {
	position: absolute;
	top: 100%;
	left: 0px;
	right: 0px;
	margin-top: -1px;
	background: #FFFFFF;
	border: 2px solid #666666;
	box-sizing: border-box;
	z-index: 3;
}
.w3-dropdown-mlist.w3-dropdown-mlist-opened>.w3-dropdown-content>DIV {
	padding: 8px;
}
.w3-dropdown-mlist.w3-dropdown-mlist-opened>.w3-dropdown-content>DIV:hover {
	background: #a6a6be;
	cursor: pointer;
}